@font-face {
  font-family: 'google';
  src: url('../fonts/google.eot');
  src: url('../fonts/google.eot') format('embedded-opentype'),
       url('../fonts/google.woff2') format('woff2'),
       url('../fonts/google.woff') format('woff'),
       url('../fonts/google.ttf') format('truetype'),
       url('../fonts/google.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'google';
    src: url('../font/google.svg?6859793#google') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "google";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-heart:before { content: '\e804'; } /* '' */
.icon-heart-empty:before { content: '\e805'; } /* '' */
.icon-heart-1:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-star:before { content: '\e808'; } /* '' */
.icon-off:before { content: '\e809'; } /* '' */
.icon-forward:before { content: '\e80a'; } /* '' */
.icon-fast-forward:before { content: '\e80b'; } /* '' */
.icon-fast-backward:before { content: '\e80c'; } /* '' */
.icon-step-forward:before { content: '\e80d'; } /* '' */
.icon-step-backward:before { content: '\e80e'; } /* '' */
.icon-signal:before { content: '\e80f'; } /* '' */
.icon-stop:before { content: '\e810'; } /* '' */
.icon-play:before { content: '\e811'; } /* '' */
.icon-heart-empty-1:before { content: '\e812'; } /* '' */
.icon-heart-2:before { content: '\e813'; } /* '' */
.icon-down:before { content: '\e814'; } /* '' */
.icon-left:before { content: '\e815'; } /* '' */
.icon-right:before { content: '\e816'; } /* '' */
.icon-up:before { content: '\e817'; } /* '' */
.icon-pause-1:before { content: '\e818'; } /* '' */
.icon-arrow-curved:before { content: '\e819'; } /* '' */
.icon-rss:before { content: '\e81a'; } /* '' */
.icon-emo-unhappy:before { content: '\e81b'; } /* '' */
.icon-heart-empty-2:before { content: '\e81c'; } /* '' */
.icon-heart-3:before { content: '\e81d'; } /* '' */
.icon-search-1:before { content: '\e81e'; } /* '' */
.icon-star-empty:before { content: '\e81f'; } /* '' */
.icon-forward-1:before { content: '\e820'; } /* '' */
.icon-thumbs-up:before { content: '\e821'; } /* '' */
.icon-thumbs-down:before { content: '\e822'; } /* '' */
.icon-trash-empty:before { content: '\e823'; } /* '' */
.icon-note:before { content: '\e824'; } /* '' */
.icon-note-beamed:before { content: '\e825'; } /* '' */
.icon-pause-2:before { content: '\e826'; } /* '' */
.icon-spin5:before { content: '\e838'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-pause:before { content: '\f00e'; } /* '' */
.icon-shuffle:before { content: '\f03b'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-moon:before { content: '\f186'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */